In [1]:
import pandas as pd
import numpy as np
import os
import shutil

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'codetable.txt',
 'EDA.ipynb',
 'read_SouthGermanCredit.R',
 'SouthGermanCredit.asc']

In [17]:
header_names_German_to_English = {
                                    "laufkont" : "status",
                                    "laufzeit" : "duration",
                                    "moral" : "credit_history",
                                    "verw" : "purpose",
                                    "hoehe" : "amount" , 
                                    "sparkont" : "savings",
                                    "beszeit" : "employment_duration",
                                    "rate" : "installment_rate",
                                    "famges" : "personal_status_sex",
                                    "buerge" : "other_debtors",
                                    "wohnzeit" : "present_residence",
                                    "verm" : "property",
                                    "alter" : "age",
                                    "weitkred" : "other_installment_plans",
                                    "wohn" : "housing",
                                    "bishkred" : "number_credits",
                                    "beruf" : "job",
                                    "pers" : "people_liable",
                                    "telef" : "telephone",
                                    "gastarb" : "foreign_worker",
                                    "kredit" : "credit_risk"
                                }

# import json
# json_obj = json.dumps(header_names_German_to_English, indent=4)

# with open("header_names_German_to_English.json", "w") as outfile:
#     json.dump(json_obj, outfile)
# outfile.close

In [18]:
data_dir = str(os.getcwd())
data_dir = data_dir + "\SouthGermanCredit.asc"
data_dir

'C:\\Users\\Lenovo\\Desktop\\iNeuron\\ML Project - SouthGermanCredit\\Data\\SouthGermanCredit.asc'

In [12]:
try:
    data = pd.read_csv("SouthGermanCredit.asc",sep=" ")
    data.head()
except:
    data = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\iNeuron\\ML Project - SouthGermanCredit\\Data\\SouthGermanCredit.asc",sep=" ")
    data.head()

In [28]:
data = data.rename(columns=header_names_German_to_English)

In [29]:
data.shape

(1000, 21)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   status                   1000 non-null   int64
 1   duration                 1000 non-null   int64
 2   credit_history           1000 non-null   int64
 3   purpose                  1000 non-null   int64
 4   amount                   1000 non-null   int64
 5   savings                  1000 non-null   int64
 6   employment_duration      1000 non-null   int64
 7   installment_rate         1000 non-null   int64
 8   personal_status_sex      1000 non-null   int64
 9   other_debtors            1000 non-null   int64
 10  present_residence        1000 non-null   int64
 11  property                 1000 non-null   int64
 12  age                      1000 non-null   int64
 13  other_installment_plans  1000 non-null   int64
 14  housing                  1000 non-null   int64
 15  number_credits           1000 non-null   int64
 16  job                      1000 non-null   int64
 17  people_liable            1000 non-null   int64
 18  telephone                1000 non-null   int64
 19  foreign_worker           1000 non-null   int64
 20  credit_risk              1000 non-null   int64
dtypes: int64(21)
memory usage: 164.2 KB

In [31]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
status,1000.0,2.577,1.257638,1.0,1.0,2.0,4.00,4.0
duration,1000.0,20.903,12.058814,4.0,12.0,18.0,24.00,72.0
credit_history,1000.0,2.545,1.083120,0.0,2.0,2.0,4.00,4.0
purpose,1000.0,2.828,2.744439,0.0,1.0,2.0,3.00,10.0
amount,1000.0,3271.248,2822.751760,250.0,1365.5,2319.5,3972.25,18424.0
savings,1000.0,2.105,1.580023,1.0,1.0,1.0,3.00,5.0
employment_duration,1000.0,3.384,1.208306,1.0,3.0,3.0,5.00,5.0
installment_rate,1000.0,2.973,1.118715,1.0,2.0,3.0,4.00,4.0
personal_status_sex,1000.0,2.682,0.708080,1.0,2.0,3.0,3.00,4.0
other_debtors,1000.0,1.145,0.477706,1.0,1.0,1.0,1.00,3.0
present_residence,1000.0,2.845,1.103718,1.0,2.0,3.0,4.00,4.0
property,1000.0,2.358,1.050209,1.0,1.0,2.0,3.00,4.0
age,1000.0,35.542,11.352670,19.0,27.0,33.0,42.00,75.0
other_installment_plans,1000.0,2.675,0.705601,1.0,3.0,3.0,3.00,3.0
housing,1000.0,1.928,0.530186,1.0,2.0,2.0,2.00,3.0
number_credits,1000.0,1.407,0.577654,1.0,1.0,1.0,2.00,4.0
job,1000.0,2.904,0.653614,1.0,3.0,3.0,3.00,4.0
people_liable,1000.0,1.845,0.362086,1.0,2.0,2.0,2.00,2.0
telephone,1000.0,1.404,0.490943,1.0,1.0,1.0,2.00,2.0
foreign_worker,1000.0,1.963,0.188856,1.0,2.0,2.0,2.00,2.0
credit_risk,1000.0,0.700,0.458487,0.0,0.0,1.0,1.00,1.0